.sidePanel {
  position: absolute;
  width: 408px;
  height: 100vh;
  top: 0;
  left: 0;
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  z-index: 401;
  background-color: white;
}

.sidePanelOpen {
  transform: translateX(0);
}

.sidePanelClose {
  transform: translateX(-100%);
}

.sidePanelContainer {
  overflow: scroll;
  scrollbar-width: thin;
  height: 100%;
}

.sidePanelButton {
  position: absolute;
  left: 408px;
  background-color: white;
  z-index: 401;
  top: calc(50% - 24px);
  width: 23px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.trackItem {
  height: 48px;
  border-bottom: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.trackItem:hover {
  background-color: gainsboro;
}
